<p>Welcome to Hello Home, {{user.name.first}} {{user.name.last}}</p>

<p>Please confirm your email address by clicking the link below.</p>

<p>
  <a href='{{url}}'>
    Confirm email address
  </a>
</p>

<p>Thanks</p>